
form
	.form-control
	.form-group
		width 400px

.money
	position fixed
	top 120px
	left 230px
	text-transform uppercase
	.cash 
		width 180px
		padding-bottom 20px
		
	.tab-content
		padding-top 16px
	
		.tab-pane
			.table
				thead
					tr 
						th 
							text-align center			
.jumbotron
	position fixed
	top 130px
	left 240px
	width 80%
	text-transform uppercase
	padding-left 40px
	text-align center
	
	.alerts
		text-align center
		color red
		
	




